In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [2]:
data = pd.read_csv('pub.log.txt',sep=" ")
data.drop(axis = 1,columns = ['Unnamed: 8'],inplace = True)

In [3]:
data.rename(columns = {'2023-09-09':'Date'}, inplace = True)
data.rename(columns = {'03:26:26':'Time'}, inplace = True)
data.rename(columns = {'1.54':'CPU Usage'}, inplace = True)
data.rename(columns = {'16':'Logical CPUs Used'}, inplace = True)
data.rename(columns = {'65.5':'Virtual Memory (%)'}, inplace = True)
data.rename(columns = {'11':'Virtual Memory (GB)'}, inplace = True)
data.rename(columns = {'141.5':'Disk Usage'}, inplace = True)
data.rename(columns = {'192.168.56.1':'IP'}, inplace = True)
data.set_index(['Date'],inplace = True)

In [4]:
data.head()

,Time,CPU Usage,Logical CPUs Used,Virtual Memory (%),Virtual Memory (GB),Disk Usage,IP
Date,,,,,,,
2023-09-09,03:26:30,3.13,16,65.7,11,141.5,192.168.56.1
2023-09-09,03:26:34,0.49,16,65.6,11,141.5,192.168.56.1
2023-09-09,03:26:38,4.61,16,66.0,11,141.5,192.168.56.1
2023-09-09,03:26:42,0.09,16,65.5,11,141.5,192.168.56.1
2023-09-09,03:26:46,1.18,16,65.6,11,141.5,192.168.56.1

In [5]:
for i in data.columns:
    print(i,' : ', data[i].nunique())

Time  :  514
CPU Usage  :  251
Logical CPUs Used  :  1
Virtual Memory (%)  :  86
Virtual Memory (GB)  :  6
Disk Usage  :  15
IP  :  1

In [6]:
data.drop(axis = 1,columns=['Logical CPUs Used','IP'],inplace = True)
data.drop(axis = 1,columns=['Time'],inplace = True)
data.reset_index(drop = True)
data.head()

            CPU Usage  Virtual Memory (%)  Virtual Memory (GB)  Disk Usage
Date
2023-09-09       3.13                65.7                   11       141.5
2023-09-09       0.49                65.6                   11       141.5
2023-09-09       4.61                66.0                   11       141.5
2023-09-09       0.09                65.5                   11       141.5
2023-09-09       1.18                65.6                   11       141.5

In [7]:
for _ in data.columns:
    print(f'Mean for {_} columnis: ',round(np.mean(data[_]),2))

Mean for CPU Usage columnis:  2.92
Mean for Virtual Memory (%) columnis:  58.79
Mean for Virtual Memory (GB) columnis:  9.84
Mean for Disk Usage columnis:  141.69

In [8]:
x = data.drop('CPU Usage',axis = 1)
y = data['CPU Usage']

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=365)

In [16]:
reg = LinearRegression()
reg.fit(x,y)
y_pred = reg.predict(x_test)

 
mae = mean_absolute_error(y_true=y_test,y_pred=y_pred)
#squared True returns MSE value, False returns RMSE value.
mse = mean_squared_error(y_true=y_test,y_pred=y_pred) #default=True
rmse = mean_squared_error(y_true=y_test,y_pred=y_pred,squared=False)
 
print("MAE:",mae)
print("MSE:",mse)
print("RMSE:",rmse)

MAE: 2.5898795390231713
MSE: 13.649510642983058
RMSE: 3.694524413640145

In [11]:
DTR = DecisionTreeRegressor(max_depth=30)
DTR.fit(x, y)

DTR_y = DTR.predict(x_test)


mae = mean_absolute_error(y_true=y_test,y_pred=DTR_y)
#squared True returns MSE value, False returns RMSE value.
mse = mean_squared_error(y_true=y_test,y_pred=DTR_y) #default=True
rmse = mean_squared_error(y_true=y_test,y_pred=DTR_y,squared=False)
 
print("MAE:",mae)
print("MSE:",mse)
print("RMSE:",rmse)

MAE: 1.4645003188026446
MSE: 4.678639066313403
RMSE: 2.1630161964981682

In [21]:
l = [65,10,103.8]

In [22]:
DTR.predict([l])

C:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([0.8225])

In [23]:
reg.predict([l])

C:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-87.96176562])